@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Secular+One&display=swap');

body {
	margin: 0;
	font-family: 'Martel Sans';
}

h1 {
	font-family: 'Secular One';
	font-style: bold;
	font-weight: 700;
}

h2; h3; h4; h5 {
	padding: 0;
	margin: 0;
}

p {
	font-weight: 700;
}

span {
    font-size: .8em;
    padding-top: 1.5%;
}

a:link; a:visited {
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
}

.title {
	font-family: 'Secular One';
	font-style: bold;
	font-weight: 400;
	background-color: transparent;
	margin-bottom: 0;
}

.inline-link {
	display: 'inline-block';
	padding: 0 1%;
}

.over {
    position: relative;
     z-index: 1;
}

#left-col-row-1 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    position: absolute;
}

#row-1 {
    height: 100vh;
}

#row-2 {
    width: 100%;
}

.footer {
	width: 100%;
	text-align: center;
	bottom: 0;
	margin-top: 5%;
}

.footer-text {
	display: inline-block;
}

.col-element {
	margin-bottom: 4%;
}

#email-link {
	margin-left: 5px;
}

#bullet-wrapper {
	margin: 0;
	max-height: 150px;
}

@media(min-width:400px) and (max-width:768px) {
    .container {
		width: 100%;
		height: 100vh;
        margin: 0 auto;
		position: relative;
		overflow-x: hidden;
    }

	.title {
		font-size: 3em;
		letter-spacing: .15em;
	}

	.over {
		margin: 0;
		z-index: 0;
		float: none;
		text-align: center;
	}

	#map-fig {
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	#main-bullet {
		margin: 5% 10% 3% 15%;
	}

	.two-col {
		width: 95%;
		margin: 1% 1.5%; 
	}

	#left-col-row2 {
		width: 95%;
		float: none;
	}

	#right-col-r2 {
		width: 95%;
		float: none;
	}
}

@media(min-width:769px) {
	.container {
		width: 100vw;
		height: 100%;
		overflow-x: hidden;
		position: relative;
		margin: 0 auto;
	}

	.title {
		font-size: 4em;
		letter-spacing: .15em;
	}

	#map-fig {
		width: 100vw; 
		height: 100%; 
		overflow: hidden;
		z-index: -1; 
		position: absolute;
	}

	.dash-container { 
		padding: 1%;
		margin: 0;
	}

	.row { 
		margin-bottom: 2rem; 
	}

	.over {
		z-index: 1; 
		background-color: transparent; 
		float: right; 
		margin: 20% 3% 0 auto;
		text-align: center;
	}

	#main-bullet {
		margin: 5% 10% 3% 15%;
	}

	.two-col {
		display: inline-block;
		width: 45%;
		margin: 0;
	}

	#left-col-row2 {
		float: left;
		margin-right: 1.5%;
	}

	#right-col-r2 {
		float: right;
		margin-left: 1.5%;
	}

	#run-data-table {
		width: 95%;
	}

	.footer {
		position: absolute;
		bottom: 0;
		height: 2px;
	}

}
